body {
    background-color: hsl(0, 100%, 0%);
    font-family: 'Jost', sans-serif;
    /*text-align: center;*/
    color: white;
}

#title {
    font-size: 70px;
    width: 50vw;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

#img-div {
    text-align: center;
    background-color: hsl(0, 0%, 70%);
    margin: 0 10px 0 10px;
    padding-top: 30px;
    border-radius: 10px;
}

#image {
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

#img-caption {
    padding-bottom: 15px;
}

#main {
    background-color: #767676;
    width: 50%;
    margin-left: 25%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    /*margin: 0 300px 0 300px;*/
    border-radius: 10px;
}

#timeline {
    width: 50%;
    margin-left: 25%;
    /*padding: 0 300px 0 300px;*/
    /*margin: 0 300px 0 300px;*/
}

.ynumber {
    font-weight: 600;
    align-items: center;
    height: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 100%;
}

li {
    list-style-type: none;
}

#tribute-info {
    display: flex;
    flex-direction: column;
    padding: 0;
}

.info {
    border: 1px solid black;
    border-radius: 5px;
    /*Botar margem entre as infos (talvez)*/
}

.year {
    display: flex;
    background-color: #595959;
    margin-bottom: 10px;
    align-items: center;
    /*border: 1px solid black;*/
}

.movie {
    background-color: #902E92;
}

.nomination {
    background-color: #1C653D;
}

.personal {
    background-color: #095AA2;
}

.award {
    background-color: #705400;
}

.tv {
    background-color: #3E295A;
}

.child {
    background-color: #5A172E;
}

.relationship {
    background-color: #54072D;
}

.marriage {
    background-color: #692D02;
}

.birth {
    background-color: #A92619;
}

#morelink {
    text-align: center;
    padding-bottom: 30px;
}

@media (max-width: 900px) {
    #main {
        width: 90%;
        margin-left: 5%;
        margin-top: 2.5%;
        margin-bottom: 2.5%;
    }
    #img-div {
        margin: 0;
    }
    #timeline {
        width: 80%;
        margin-left: 10%;
    }
}

@media (max-width: 766px) {
    #title {
        width: 100%;
    }
}