body {
    background-color: hsl(0, 100%, 0%);
    font-family: 'Jost', sans-serif;
    /*text-align: center;*/
    color: white;
}

#title {
    font-size: 70px;
    padding-top: 10px;
    margin: auto;
    text-align: center;
}

#img-div {
    text-align: center;
    background-color: hsl(0, 0%, 70%);
    margin: 0 10px 0 10px;
    padding-top: 30px;
    border-radius: 10px;
}

img {
    border-radius: 10px;
}

#main {
    display: grid;
    background-color: #767676;
    margin: 0 300px 0 300px;
    border-radius: 10px;
}

#timeline {
    margin: 0 300px 0 300px;
}

p {
  font-weight: 600;
}

li {
    list-style-type: none;
}

#tribute-info {
    padding: 0;
    /*margin: auto;*/
}

.info {
    border-radius: 5px;
}

.year {
    display: flex;
    background-color: #595959;
    margin-bottom: 10px;

}

.movie {
    background-color: #902E92;
    /*border-left: 3px solid green;
    height: auto;
    text-align: center;*/
}

.movie:before {
    content: "Movie: ";
}

.nomination {
    background-color: #1C653D;
    /*border-left: 3px solid green;
    height: auto;
    text-align: center;*/
}

.nomination:before {
    content: "Nomination: ";
}

.personal {
    background-color: #095AA2;
}

.personal:before {
    content: "Personal: ";
}


.award {
    background-color: #705400;
}

.award:before {
    content: "Award: ";
}

.tv {
    background-color: #3E295A;
}

.tv:before {
    content: "TV: ";
}

.child {
    background-color: #5A172E;
}

.child:before {
    content: "Child: ";
}

.relationship {
    background-color: hsl(0, 0%, 30%);
}

.relationship:before {
    content: "Relationship: ";
}

.marriage {
    background-color: hsl(0, 0%, 30%);
}

.relationship:before {
    content: "Relationship: ";
}

.birth {
    background-color: hsl(0, 0%, 30%);
}

.relationship:before {
    content: "Birth: ";
}